.custom-frames-view {
	padding: 0 !important;
	overflow: hidden !important;
}

.custom-frames-frame {
	width: 100%;
	height: 100%;
	border: none;
	background-color: white;
	background-clip: content-box;
}

.custom-frames-add button {
	margin-left: 10px;
}

.custom-frames-support {
	max-width: 50%;
	width: 400px;
	height: auto;
}
